Tech/CEO-Cockpit/n8n/workflows/pipeline-12-gsc.json
{
  "name": "Pipeline 12: GSC → gsc_daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 6 * * *" }]
        }
      },
      "id": "schedule-1",
      "name": "Schedule (Daily 06:00)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const startTime = Date.now();\nreturn [{ json: { source_name: 'gsc', start_time: startTime } }];"
      },
      "id": "set-start-time",
      "name": "Set Start Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/etl_sync_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_name: 'gsc', status: 'running' }) }}"
      },
      "id": "log-start",
      "name": "Log ETL Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const logResponse = $input.first().json;\nconst logId = Array.isArray(logResponse) ? logResponse[0].id : logResponse.id;\nconst startTime = $('Set Start Time').first().json.start_time;\n\n// TODO: Set site URLs for each brand\nconst sites = [\n  { site_url: 'sc-domain:carismaspa.com', brand_id: 1 },\n  { site_url: 'sc-domain:carismaaesthetics.com', brand_id: 2 },\n  { site_url: 'sc-domain:carismaslimming.com', brand_id: 3 }\n];\n\nreturn sites.map(s => ({ json: { ...s, log_id: logId, start_time: startTime } }));"
      },
      "id": "split-sites",
      "name": "Split Brand Sites",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/webmasters/v3/sites/{{ encodeURIComponent($json.site_url) }}/searchAnalytics/query",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ startDate: new Date(Date.now() - 7 * 86400000).toISOString().split('T')[0], endDate: new Date(Date.now() - 86400000).toISOString().split('T')[0], dimensions: ['date'] }) }}",
        "options": {}
      },
      "id": "http-gsc",
      "name": "Fetch GSC Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst brandId = $('Split Brand Sites').first().json.brand_id;\nconst rows = input.rows || [];\n\nconst result = rows.map(row => {\n  const date = row.keys[0]; // already YYYY-MM-DD\n  \n  return {\n    date: date,\n    brand_id: brandId,\n    clicks: parseInt(row.clicks || 0, 10),\n    impressions: parseInt(row.impressions || 0, 10),\n    ctr_pct: Math.round((row.ctr || 0) * 10000) / 100,\n    avg_position: Math.round((row.position || 0) * 100) / 100\n  };\n});\n\nreturn result.map(r => ({ json: r }));"
      },
      "id": "transform-gsc",
      "name": "Transform GSC Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/gsc_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(item => item.json)) }}"
      },
      "id": "upsert-gsc-daily",
      "name": "Upsert gsc_daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const startTime = $('Set Start Time').first().json.start_time;\nconst logId = $('Split Brand Sites').first().json.log_id;\nconst totalRows = $input.all().length;\nconst durationSec = Math.round((Date.now() - startTime) / 1000);\n\nreturn [{ json: {\n  log_id: logId,\n  status: 'success',\n  rows_upserted: totalRows,\n  duration_sec: durationSec\n}}];"
      },
      "id": "prepare-log-success",
      "name": "Prepare Success Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/etl_sync_log?id=eq.{{ $json.log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, rows_upserted: $json.rows_upserted, completed_at: new Date().toISOString(), duration_sec: $json.duration_sec }) }}"
      },
      "id": "log-success",
      "name": "Log ETL Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "content": "## TODO: GSC Setup Required\n\n1. Configure **Google OAuth2** credentials in n8n UI for Search Console API\n2. Verify **site URLs** for each brand in the 'Split Brand Sites' code node:\n   - Spa: sc-domain:carismaspa.com\n   - Aesthetics: sc-domain:carismaaesthetics.com\n   - Slimming: sc-domain:carismaslimming.com\n3. Update the HTTP Request node to use the OAuth2 credential",
        "width": 400,
        "height": 200
      },
      "id": "sticky-todo",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [660, 40]
    }
  ],
  "connections": {
    "Schedule (Daily 06:00)": {
      "main": [[{ "node": "Set Start Time", "type": "main", "index": 0 }]]
    },
    "Set Start Time": {
      "main": [[{ "node": "Log ETL Start", "type": "main", "index": 0 }]]
    },
    "Log ETL Start": {
      "main": [[{ "node": "Split Brand Sites", "type": "main", "index": 0 }]]
    },
    "Split Brand Sites": {
      "main": [[{ "node": "Fetch GSC Data", "type": "main", "index": 0 }]]
    },
    "Fetch GSC Data": {
      "main": [[{ "node": "Transform GSC Data", "type": "main", "index": 0 }]]
    },
    "Transform GSC Data": {
      "main": [[{ "node": "Upsert gsc_daily", "type": "main", "index": 0 }]]
    },
    "Upsert gsc_daily": {
      "main": [[{ "node": "Prepare Success Log", "type": "main", "index": 0 }]]
    },
    "Prepare Success Log": {
      "main": [[{ "node": "Log ETL Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
