Tech/CEO-Cockpit/n8n/workflows/pipeline-09-meta-ads.json
{
  "name": "Pipeline 09: Meta Ads → marketing_daily",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 */6 * * *" }]
        }
      },
      "id": "schedule-1",
      "name": "Schedule (6h)",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 300]
    },
    {
      "parameters": {
        "jsCode": "const startTime = Date.now();\nreturn [{ json: { source_name: 'meta_ads', start_time: startTime } }];"
      },
      "id": "set-start-time",
      "name": "Set Start Time",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/etl_sync_log",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_name: 'meta_ads', status: 'running' }) }}"
      },
      "id": "log-start",
      "name": "Log ETL Start",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "jsCode": "const logResponse = $input.first().json;\nconst logId = Array.isArray(logResponse) ? logResponse[0].id : logResponse.id;\nconst startTime = $('Set Start Time').first().json.start_time;\n\nconst accounts = [\n  { act_id: 'act_654279452039150', brand_id: 1 },\n  { act_id: 'act_382359687910745', brand_id: 2 },\n  { act_id: 'act_1496776195316716', brand_id: 3 }\n];\n\nreturn accounts.map(a => ({ json: { ...a, log_id: logId, start_time: startTime } }));"
      },
      "id": "split-accounts",
      "name": "Split Ad Accounts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.facebook.com/v21.0/{{ $json.act_id }}/insights?fields=spend,impressions,clicks,actions,purchase_roas,ctr,cpc&time_increment=1&date_preset=last_7d&access_token={{ $env.META_ACCESS_TOKEN }}",
        "options": {}
      },
      "id": "http-meta-insights",
      "name": "Fetch Meta Insights",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst brandId = $('Split Ad Accounts').first().json.brand_id;\nconst data = input.data || [];\n\nconst rows = data.map(day => {\n  const actions = day.actions || [];\n  const leadAction = actions.find(a => a.action_type === 'lead');\n  const leads = leadAction ? parseInt(leadAction.value, 10) : 0;\n\n  const roas = day.purchase_roas && day.purchase_roas.length > 0\n    ? parseFloat(day.purchase_roas[0].value)\n    : null;\n\n  const spend = parseFloat(day.spend || 0);\n  const cpl = leads > 0 ? Math.round((spend / leads) * 100) / 100 : null;\n\n  return {\n    date: day.date_start,\n    brand_id: brandId,\n    platform: 'meta',\n    spend: spend,\n    impressions: parseInt(day.impressions || 0, 10),\n    clicks: parseInt(day.clicks || 0, 10),\n    leads: leads,\n    cpl: cpl,\n    roas: roas,\n    ctr_pct: parseFloat(day.ctr || 0),\n    cpc: parseFloat(day.cpc || 0)\n  };\n});\n\nreturn rows.map(r => ({ json: r }));"
      },
      "id": "transform-meta",
      "name": "Transform Meta Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/marketing_daily",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "resolution=merge-duplicates" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($input.all().map(item => item.json)) }}"
      },
      "id": "upsert-marketing-daily",
      "name": "Upsert marketing_daily",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 300]
    },
    {
      "parameters": {
        "jsCode": "const startTime = $('Set Start Time').first().json.start_time;\nconst logId = $('Split Ad Accounts').first().json.log_id;\nconst allItems = $input.all();\nconst totalRows = allItems.length;\nconst durationSec = Math.round((Date.now() - startTime) / 1000);\n\nreturn [{ json: {\n  log_id: logId,\n  status: 'success',\n  rows_upserted: totalRows,\n  duration_sec: durationSec\n}}];"
      },
      "id": "prepare-log-success",
      "name": "Prepare Success Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 300]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/etl_sync_log?id=eq.{{ $json.log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.status, rows_upserted: $json.rows_upserted, completed_at: new Date().toISOString(), duration_sec: $json.duration_sec }) }}"
      },
      "id": "log-success",
      "name": "Log ETL Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 300]
    },
    {
      "parameters": {
        "jsCode": "const startTime = $('Set Start Time').first().json.start_time;\nconst logId = $('Split Ad Accounts').first().json.log_id;\nconst durationSec = Math.round((Date.now() - startTime) / 1000);\nconst errorMsg = $input.first().json.message || 'Unknown error';\n\nreturn [{ json: {\n  log_id: logId,\n  status: 'failed',\n  error_message: errorMsg,\n  duration_sec: durationSec\n}}];"
      },
      "id": "prepare-log-fail",
      "name": "Prepare Failure Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 520]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{ $env.SUPABASE_URL }}/rest/v1/etl_sync_log?id=eq.{{ $json.log_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Authorization", "value": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: 'failed', error_message: $json.error_message, completed_at: new Date().toISOString(), duration_sec: $json.duration_sec }) }}"
      },
      "id": "log-fail",
      "name": "Log ETL Failure",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 520]
    }
  ],
  "connections": {
    "Schedule (6h)": {
      "main": [[{ "node": "Set Start Time", "type": "main", "index": 0 }]]
    },
    "Set Start Time": {
      "main": [[{ "node": "Log ETL Start", "type": "main", "index": 0 }]]
    },
    "Log ETL Start": {
      "main": [[{ "node": "Split Ad Accounts", "type": "main", "index": 0 }]]
    },
    "Split Ad Accounts": {
      "main": [[{ "node": "Fetch Meta Insights", "type": "main", "index": 0 }]]
    },
    "Fetch Meta Insights": {
      "main": [[{ "node": "Transform Meta Data", "type": "main", "index": 0 }]]
    },
    "Transform Meta Data": {
      "main": [[{ "node": "Upsert marketing_daily", "type": "main", "index": 0 }]]
    },
    "Upsert marketing_daily": {
      "main": [[{ "node": "Prepare Success Log", "type": "main", "index": 0 }]]
    },
    "Prepare Success Log": {
      "main": [[{ "node": "Log ETL Success", "type": "main", "index": 0 }]]
    },
    "Prepare Failure Log": {
      "main": [[{ "node": "Log ETL Failure", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
